{% block header %}
  <h1>{% block title %}Usuários{% endblock %}</h1>

<style>
table, th, td {
  border: 1px solid gray;
}
</style>

{% endblock %}


{% block content %}

      <header>
        <div>
	 <table style="width:auto;">
	  <tr>
	    <th>Id</th>
	    <th>Nome</th>
	    <th>Idade</th>
  	    <th>Email</th>
  	    <th>Perfil</th>
	  </tr>
	  <tr>
	    <td>{{user.id}}</td>
	    <td>{{user.name}}</td>
	    <td>{{user.age}}</td>
	    <td>{{user.email}}</td>
	    <td>{{user.user_type}}</td>
            <form method='DELETE' action='users/{{user.id}}'>
	         <td><button type='submit'>Remover</button</td>
            </form>
	  </tr>

	 </table> 
        </div>
      </header>
<br>
<br>
  <form method="PUT">
  {% for user in users %}
    <label for="name">Nome</label>
    <input value={{users.name}} name="name" id="name" required>

    <label for="age">Idade</label>
    <input value={{users.age}} type="number" name="age" id="age" required>

    <label for="email">Email</label>
    <input value={{users.email}} type="email" name="email" id="email" required>
    <select name="user_type">
       <option value="admin">Admin</option>
       <option value="manager">Manager</option>
       <option value="default">Default User</option>
    </select> 
  {% endfor %}

    <input type="submit" value="salvar">

  </form>
{% endblock %}
