{% block header %}
  <h1>{% block title %}Tarefas{% endblock %}</h1>

<style>
table, th, td {
  border: 1px solid gray;
}
</style>

{% endblock %}


{% block content %}

      <header>
        <div>
	 <table style="width:auto;">
	  <tr>
	    <th>Id</th>
	    <th>Descrição</th>
	    <th>Encarregado</th>
  	    <th>Descrição</th>
	  </tr>
  {% for task in tasks %}
	  <tr>
	    <td>{{task.id}}</td>
	    <td>{{task.description}}</td>
	    <td>{{task.name}}</td>
            <form method='GET' action='users/{{task.id}}'>
	         <td><button type='submit'>Editar</button</td>
            </form>
	  </tr>

  {% endfor %}
	 </table> 
        </div>
      </header>
<br>
<br> 
{% with messages = get_flashed_messages()  %}
    {% if messages %}
        {% for message in messages %}
            <h3>{{message}}</h3>  
        {% endfor %}
    {% endif %}
{% endwith %}

  <form method="post">
    <label for="description">Descrição</label>
    <input name="description" id="description" required>

    <label for="user_id">Encarregado</label>
    <input type="number" name="user_id" id="user_id" required>

    <input type="submit" value="Cadastrar">

  </form>
{% endblock %}
