{% block header %}
  <h1>{% block title %}Usuários{% endblock %}</h1>

<style>
table, th, td {
  border: 1px solid gray;
}
</style>

{% endblock %}


{% block content %}

      <header>
        <div>
	 <table style="width:auto;">
	  <tr>
	    <th>Id</th>
	    <th>Nome</th>
	    <th>Idade</th>
  	    <th>Email</th>
  	    <th>Perfil</th>
	  </tr>
  {% for user in users %}
	  <tr>
	    <td>{{user.id}}</td>
	    <td>{{user.name}}</td>
	    <td>{{user.age}}</td>
	    <td>{{user.email}}</td>
	    <td>{{user.user_type}}</td>
            <form method='GET' action='users/{{user.id}}'>
	         <td><button type='submit'>Editar</button</td>
            </form>
	  </tr>

  {% endfor %}
	 </table> 
        </div>
      </header>
<br>
<br> 
{% with messages = get_flashed_messages()  %}
    {% if messages %}
        {% for message in messages %}
            <h3>{{message}}</h3> 
        {% endfor %}
    {% endif %}
{% endwith %}

  <form method="post">
    <label for="name">Nome</label>
    <input name="name" id="name" required>

    <label for="age">Idade</label>
    <input type="number" name="age" id="age" required>

    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>
    <select name="user_type">
       <option value="admin">Admin</option>
       <option value="manager">Manager</option>
       <option value="default">Default User</option>
    </select> 

    <input type="submit" value="Cadastrar">

  </form>
{% endblock %}
